.errorbody{
    background-color: #E5D9B6;
    padding: 5%;
    text-align: center;
}

.h1{ font-size: 10em;  color: #285430;}

.p{ color: #285430;}

.p a{ color: #285430; text-decoration: none;}

.imagen{
    width: 100%;
}

@media (min-width: 450px ){
    /* Tablet */
    .imagen{
        width: 50%;
    }
}

@media (min-width: 800px ){
    /* pc */
    .imagen{
        width: 40%;
    }
    .h1{ font-size: 200px;}
    .errorbody{ padding: 0 5%}
    .p{ font-size: 18px;}
}